*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;  
    line-height: 1.6;
    font-style: initial;
}

ul{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}
.page{
    display: none;
    width: 100%;
    min-width: 1500px;
    height: 100%;
    min-height: 1500px; 
    position: fixed;  
    padding: 1rem 2rem;
}
.active{
    display: block; 
}

body {
background-image:url(images/background.png);
font-size:10pt;
font-family:Arial;
width: 100%;
min-height: 100%; 
margin:0;
padding:0;
}

#menulinks {
clear:both;
width:1022px;
height:55px;
padding-left:23px;
background-image:url(images/menulinks.png);
}

#page {
width:1045px;
height:1450px;
top:10px;
background-image:url(images/page.png);
margin:auto;
margin-top:10px;
padding:auto;
}



h1{
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}
.big{
    font-size: 5rem;
    font-weight: 900;
}


input[type=text], select, textarea {
  width: 25%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: 10px;
  margin-top: 4px; 
  margin-bottom: 10px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #4CAF50;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 2.5px;
  background-color: #f2f2f2;
  padding: 20px;
}
